.about__section {
	// background: lightsalmon;
	width: 100%;
	height: 93vh;
	display: flex;
	justify-content: flex-end;
	.about__content {
		// background: lightskyblue;
		width: 95%;
		height: auto;
		margin: auto 0 auto auto;
		display: flex;
		flex-direction: column;
		.about__h {
			// background: magenta;
			width: 100%;
			display: flex;
			h1 {
				font-size: 26px;
				color: #ccd6f6;
				span {
					color: #63ffd9;
					font-weight: 400;
					font-size: 20px;
				}
			}
			.h__line {
				height: 1px;
				width: 32%;
				background: #303c55;
				margin: auto 0px auto 20px;
			}
		}

		.about__me {
			// background: green;
			width: 100%;
			height: auto;
			display: flex;
			margin-top: 40px;
			.about__p {
				// background: lightblue;
				width: 59%;
				height: auto;
				.intro {
					// background: lightseagreen;
					p {
						color: #818ca9;
						font-weight: 500;
						font-size: 16px;
						line-height: 28px;
						margin-bottom: 16px;
						margin-right: 40px;
					}
				}
				.tech {
					// background: blue;
					width: 100%;
					display: flex;
					justify-content: space-between;
					font-size: 12px;
					font-weight: 500;
					margin-top: 32px;
					.col {
						margin-right: 16px;
						h2 {
							font-size: 12px;
							font-weight: 500;
							color: #63ffd9;
						}
						p {
							color: #818ca9;
							margin: 16px 0;
						}
					}
				}
			}
			.about__img {
				// background: yellow;
				width: 390px;
				height: auto;
				display: block;
				.img__container {
					width: 76%;
					height: auto;
					position: relative;
					img {
						position: relative;
						width: 100%;
						border-radius: 4px;
						filter: grayscale(90%);
						z-index: 10;
						transition: 0.5s ease;
					}
					.border {
						position: absolute;
						top: 15px;
						left: 19px;
						width: 100%;
						height: 100%;
						border-radius: 4px;
						border: 2px solid #63ffd9;
						transition: 0.5s ease;
					}
				}
				.img__container:hover img {
					filter: none;
				}
				.img__container:hover .border {
					transform: translate(-7px, -7px);
				}
			}
		}
	}
}

@media (max-width: 1080px) {
	.about__section {
		.about__content {
			width: 100%;
			.about__me {
				.about__p {
					width: 63%;
				}
				.about__img {
					width: 37%;
					.img__container {
						width: 85%;
					}
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.about__section {
		height: auto;
		.about__content {
			width: 100%;
			.about__me {
				flex-direction: column;
				.about__p {
					width: 100%;
					margin-bottom: 48px;
					.intro {
						p {
							margin-right: 0px;
						}
					}
				}
				.about__img {
					width: 100%;
					display: flex;
					margin-bottom: 160px;
					.img__container {
						width: 260px;
						margin: auto;
					}
				}
			}
		}
	}
}

@media (max-width: 480px) {
	.about__section {
		height: auto;
		.about__content {
			width: 100%;
			.about__h {
				h1 {
					font-size: 20px;
					span {
						font-size: 14px;
					}
				}
			}
			.about__me {
				flex-direction: column;
				.about__p {
					width: 100%;
					margin-bottom: 48px;
					.intro {
						p {
							margin-right: 0px;
							font-size: 14px;
							line-height: 24px;
						}
					}
					.tech {
						flex-wrap: wrap;
					}
				}
				.about__img {
					width: 100%;
					display: flex;
					.img__container {
						width: 220px;
						margin: auto;
					}
				}
			}
		}
	}
}
