.intro__section {
	// background: lightgreen;
	width: 100%;
	height: 93vh;
	display: flex;
	.content {
		// background: lightsalmon;
		width: 100%;
		height: auto;
		margin: auto;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		.hi {
			font-size: 16px;
			color: #63ffd9;
			font-weight: 400;
			word-spacing: 5px;
			margin-left: 3px;
			margin-bottom: 16px;
		}
		.name {
			// background: lightseagreen;
			color: #ccd6f6;
			font-size: 64px;
			margin-bottom: 16px;
		}
		.my-work {
			// background: blue;
			font-size: 64px;
			color: #8892b0;
			margin-bottom: 32px;
		}
		p {
			// background: pink;
			color: #8892b0;
			font-weight: 500;
			max-width: 500px;
			line-height: 28px;
			margin-bottom: 48px;
		}
		.intro__btn {
			color: #63ffd9;
			border: 1px solid #63ffd9;
			border-radius: 4px;
			width: 160px;
			padding: 17px 30px;
			font-size: 14px;
			word-spacing: 4px;
			margin-bottom: 56px;
			cursor: pointer;
		}
		.intro__btn:hover {
			background: rgba(100, 255, 218, 0.1);
		}
	}
}

@media (max-width: 768px) {
	.intro__section {
		.content {
			.name,
			.my-work {
				font-size: 48px;
			}
			.name {
				margin-bottom: 12px;
			}
			.my-work {
				margin-bottom: 24px;
			}

			p {
				font-size: 14px;
				max-width: 450px;
			}
		}
	}
}

@media (max-width: 480px) {
	.intro__section {
		.content {
			.name,
			.my-work {
				font-size: 32px;
			}
			.name {
				margin-bottom: 12px;
			}
			.my-work {
				margin-bottom: 24px;
			}

			p {
				font-size: 14px;
				max-width: 450px;
			}
		}
	}
}
