<section id="about" class="about__section">
    <div class="about__content">
        <div class="about__h">
            <h1><span>01.</span>  About Me</h1>
            <div class="h__line"></div>
        </div>
        <div class="about__me">
            <div class="about__p">
                <div class="intro">
                    <p>Hello! I'm Farhan, a web developer based in Dubai, UAE.</p>
                    <p>I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. My goal is to always build products that provide pixel-perfect, performant experiences.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam , quis nostrud exercitation ullamco.</p>
                    <p>Here are a few technologies I've been working with:</p>
                </div>
                <div class="tech">
                    <div class="col">
                        <h2>FRONTEND</h2>   
                        <p>Html, CSS & SASS</p>
                        <p>Javascript</p>
                    </div>
                    <div class="col">
                        <h2>BACKEND</h2> 
                        <p>Node.js / Express.js</p>
                        <p>MongoDB (Mongoose)</p>
                        <p>GraphQl</p>
                    </div>
                    <div class="col">
                        <h2>FRAMEWORKS</h2> 
                        <p>React.js</p>
                        <p>Django</p>
                        <p>jQuerry</p>
                        <p>Bootstrap</p>  
                    </div>
                    <div class="col">
                        <h2>SOURCE CONTROL</h2> 
                        <p>Git</p>
                        <h2>UI/UX</h2> 
                        <p>Figma</p>
                    </div>
                </div>
            </div>
            <div class="about__img">
                <div class="img__container">
                    <img src="/img/profile.jpg" alt="">
                    <div class="border"></div>
                </div>    
            </div>
        </div>
    </div>
</section>

