<section class="experience-outer">
    <div class="experience-inner">
        <div class="exp__h-row">
            <h1 class="exp__h"><span>02.</span>  Where I've Worked</h1>
            <div class="row__line"></div>
        </div>
        <div class="row2">
            <div class="left-col">
                <div class="tahjir btn">
                  <p>Tahjir</p>
                </div>
                <div class="arti btn">
                  <p>Artilytics</p>
                </div>
            </div>
            <div class="right-col">
                <div class="row1">
                    <h1>Frontend/UI/UX Developer <span>@ <a href="">Tahjir</a></span></h1>
                </div>
                <div class="row2">
                    <p>Jan 2020 - Present</p>
                </div>
                <div class="row3">
                    <div class="task">
                        <img src="/img/arrow.svg" alt="">
                        <p>Write modern, performant, maintainable code for a diverse array of client and internal projects</p>
                    </div>
                    <div class="task">
                        <img src="/img/arrow.svg" alt="">
                        <p>Work with a variety of different languages, platforms, frameworks, and content management systems such as JavaScript, TypeScript, Gatsby, React, Craft, WordPress, Prismic, and Netlify</p>
                    </div>
                    <div class="task">
                        <img src="/img/arrow.svg" alt="">
                        <p>Communicate with multi-disciplinary teams of engineers, designers, producers, and clients on a daily basis</p>
                    </div>     
                </div>
            </div>
        </div>
    </div>
</section>