<section id="experience" class="experience__section">
    <div class="experience__content">
        <div class="exp__h">
            <h1><span>02.</span>  Where I've Worked</h1>
            <div class="h__line"></div>
        </div>
        <div class="experience">
            <div class="l__col">
                <div class="highlight__line">
                    <div class="highlight"></div>
                </div>
                <div class="buttons">
                    <button id="tahjir" class="button tahjirBtn">
                        Tahjir
                    </button>
                    <button id="arti" class="button artiBtn">
                        Artilytics
                    </button>
                </div>
            </div>
            
            <!-- Tahjir -->
            <div class="r__col at-tahjir display">
                <div class="r__col-h">
                    <h1>FRONTEND/UI/UX <span>@ <a style="color: #63ffd9;" href="https://dev.tahjir.com/">Tahjir</a></span></h1>
                    <p class="r__sub-h">Jan 2020 - Present</p>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Worked with a team to design and develop web application 
                        that allows users to browse through Pakistan’s Import Export 
                        Database and connect with other importers/exporters.
                        </p> 
                    </div>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Worked with product manager to prioritise and execute on feature sets.</p> 
                    </div>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Interfaced with Django web framework to create a data driven UX.</p> 
                    </div>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Led a complete redesign of the existing website.</p> 
                    </div>
                </div>
            </div>

            <!-- Artilytics -->
            <div class="r__col at-arti hide">
                <div class="r__col-h">
                    <h1>FULLSTACK <span>@ <a style="color: #63ffd9;" href="https://artilytics.com/">Artilytics</a></span></h1>
                    <p class="r__sub-h">Jan 2020 - Present</p>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>blablabla
                        </p> 
                    </div>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Worked with product manager to prioritise and execute on feature sets.</p> 
                    </div>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Interfaced with Django web framework to create a data driven UX.</p> 
                    </div>
                    <div class="r__job">
                        <img src="/img/arrow.svg" alt="">
                        <p>Led a complete redesign of the existing website.</p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/js/select.js" defer></script> 