<div class="left__col">
    <div class="social-media">
        <a class="social__links" href="">
            <img src="./img/github.svg" alt="">
        </a>
        <a class="social__links" href="">
            <img src="./img/linkedin.svg" alt="">
        </a>
        <a class="social__links" href="">
            <img src="./img/slack.svg" alt="">
        </a>
    </div>
    <div class="line"></div>
</div>