<section id="work" class="projects-section">
    <div class="projects__h">
        <h1><span>03.</span>  Some Things I've Built</h1>
        <div class="h__line"></div>
    </div>
    <div class="project__container">
        <div class="project__picture">
            <img src="/img/app.png" alt="">
        </div>
        <div class="about__project">
            <h1 class="featured">Featured Project</h1>
            <h1 class="project__name">Campgrounds</h1>
            <p class="project__p">A nicer look at your GitHub profile and repository stats with data visualizations of your top languages and stars. Sort through your top repos by number of stars, forks, and size.</p>
            <ul class="tech-stack">
                <li>Node.js</li>
                <li>MongoDB</li>
                <li>Javascript</li>
                <li>Bootstrap</li>
            </ul>
            <div class="project__links">
                <a target="_blank" href="https://github.com/farhandesign/campgrounds">
                    <img src="/img/github2.svg" alt="">
                </a>
                <a target="_blank" href="https://desolate-garden-98037.herokuapp.com/">
                    <img src="/img/link.svg" alt="">
                </a>    
            </div>
        </div>
    </div>
    <div class="project__container2">
        <div class="project__picture"></div>
        <div class="about__project">
            <h1 class="featured">Featured Project</h1>
            <h1 class="project__name">Campgrounds</h1>
            <p class="project__p">A nicer look at your GitHub profile and repository stats with data visualizations of your top languages and stars. Sort through your top repos by number of stars, forks, and size.</p>
            <div class="tech-stack">
                <p>Next.js</p>
                <p>Chart.js</p>
                <p>GitHub API</p>
            </div>
            <div class="project__links">
                <a href="">
                    <img src="/img/github2.svg" alt="">
                </a>
                <a href="">
                    <img src="/img/link.svg" alt="">
                </a>    
            </div>
        </div>
    </div>
</section>