<nav>
    <a class="logo" href="/">F</a>
    <div class="links">
        <ul>
            <li><a href=""><span>01.</span> About</a></li>
            <li><a href=""><span>02.</span> Experience</a></li>
            <li><a href=""><span>03.</span> Work</a></li>
            <li><a href=""><span>04.</span> Contact</a></li>
            <li><a class="nav__resume" href="">Resume</a></li>
        </ul>
    </div>
</nav>

<script type="text/javascript" src="/js/intersection-observer.js" defer></script> 