<section class="other-projects__section">
    <h1 class="other__h">Other Noteworthy Projects</h1>
    <a class="view" href="">view the archive</a>
    <div class="cards__container">
        <!-- CARD ONE -->
        <div class="card one">
            <div class="card__h">
                <img class="folder-icon" src="/img/folder.svg" alt="">
                <div>
                    <a class="card__link" href="">
                        <img src="/img/link2.svg" alt="">
                    </a>
                </div>    
            </div>
            <div class="card__body">
                <h1>Integrating Algolia Search with WordPress Multisite</h1>
                <p>Building a custom multisite compatible WordPress plugin to build global search with Algolia</p>
            </div>
            <div class="card__footer">
                <p>Algolia</p>
                <p>Wordpress</p>
                <p>PHP</p>
            </div>
        </div>
        <!-- CARD TWO -->
        <div class="card two">
            <div class="card__h">
                <img class="folder-icon" src="/img/folder.svg" alt="">
                <div>
                    <a class="card__link" href="">
                        <img src="/img/link2.svg" alt="">
                    </a>
                </div>    
            </div>
            <div class="card__body">
                <h1>Time to Have More Fun</h1>
                <p>A single page web app for helping me choose where to travel, built with Next.js, Firebase, and Tailwind CSS</p>
            </div>
            <div class="card__footer">
                <p>Next.js</p>
                <p>Tailwind</p>
                <p>Firebase</p>
            </div>
        </div>
        <!-- CARD THREE -->
        <div class="card three">
            <div class="card__h">
                <img class="folder-icon" src="/img/folder.svg" alt="">
                <div>
                    <a class="card__link" href="">
                        <img src="/img/link2.svg" alt="">
                    </a>
                </div>    
            </div>
            <div class="card__body">
                <h1>Building a Headless Mobile App CMS From Scratch</h1>
                <p>Find out how we built a custom headless CMS with Node, Express, and Firebase for a project at Upstatement</p>
            </div>
            <div class="card__footer">
                <p>Node</p>
                <p>Express</p>
                <p>Firebase</p>
                <p>Vue</p>
            </div>
        </div>
        <!-- CARD FOUR -->
        <div class="card four">
            <div class="card__h">
                <img class="folder-icon" src="/img/folder.svg" alt="">
                <div>
                    <a class="card__link" href="">
                        <img src="/img/link2.svg" alt="">
                    </a>
                </div>    
            </div>
            <div class="card__body">
                <h1>Google Keep Clone</h1>
                <p>A simple Google Keep clone built with Vue and Firebase.</p>
            </div>
            <div class="card__footer">
                <p>Vue</p>
                <p>Firebase</p>
            </div>
        </div>
        <!-- CARD FIVE -->
        <div class="card five">
            <div class="card__h">
                <img class="folder-icon" src="/img/folder.svg" alt="">
                <div>
                    <a class="card__link" href="">
                        <img src="/img/link2.svg" alt="">
                    </a>
                </div>    
            </div>
            <div class="card__body">
                <h1>Apple Music Embeddable Web Player Widget</h1>
                <p>Embeddable web player widget for Apple Music that lets users log in and listen to full song playback in the browser leveraging MusicKit.js.</p>
            </div>
            <div class="card__footer">
                <p>MusicKit.js</p>
                <p>JS</p>
                <p>SCSS</p>
            </div>
        </div>
        <!-- CARD SIX -->
        <div class="card six">
            <div class="card__h">
                <img class="folder-icon" src="/img/folder.svg" alt="">
                <div>
                    <a class="card__link" href="">
                        <img src="/img/link2.svg" alt="">
                    </a>
                </div>    
            </div>
            <div class="card__body">
                <h1>Apple Music Facebook Messenger Integration</h1>
                <p>Facebook Messenger chat bot extension featuring authentication and full song streaming from within the Messenger app. Read more about it on The Verge.</p>
            </div>
            <div class="card__footer">
                <p>Ember</p>
                <p>JS</p>
                <p>SCSS</p>
            </div>
        </div>
    </div>
    <a class="show" href="">Show More</a>
</section>