<% layout('layouts/boilerplate')%> 
<main class="main-container">
    <%- include('partials/intro') %> 
    <%- include('partials/about-me') %> 
    <%- include('partials/experience') %> 
    <%- include('partials/my-projects') %> 
</main>
