.layout {
	width: 100%;
	height: auto;
	background: #0a192f;

	.content {
		width: 100%;
		height: auto;
		position: relative;
		display: flex;
		justify-content: center;
		.left__col {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 120px;
			height: 290px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			.social-media {
				display: flex;
				flex-direction: column;
				a {
					transition: 0.25s ease;
					img {
						width: 18px;
						margin-bottom: 24px;
					}
				}
				.social__links:hover {
					transform: translateY(-5px);
				}
			}
			.line {
				background: #a8b2d1;
				width: 1px;
				height: 190px;
			}
		}
		.right__col {
			position: fixed;
			right: 0;
			bottom: 0;
			width: 120px;
			height: 190px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			a {
				transform: rotate(90deg);
				font-size: 14px;
				color: #a8b2d1;
				font-weight: 500;
				letter-spacing: 1px;
				margin: 1px;
				transition: 0.25s ease;
			}
			.col__email:hover {
				color: #63ffd9;
			}
			.line {
				background: #a8b2d1;
				width: 1px;
				height: 50px;
			}
		}
		main {
			width: 1000px;
			height: auto;
			margin: 0 150px;
			display: flex;
			flex-direction: column;
		}
	}
}

@media (max-width: 1080px) {
	.layout {
		.content {
			.left__col {
				width: 80px;
			}
			.right__col {
				width: 80px;
			}
			.main-container {
				width: 100%;
				margin: 0 100px;
			}
		}
	}
}

@media (max-width: 768px) {
	.layout {
		width: 100%;
		.content {
			.left__col {
				display: none;
			}
			.right__col {
				display: none;
			}
			.main-container {
				width: 100%;
				margin: 0 48px;
			}
		}
	}
}

@media (max-width: 480px) {
	.layout {
		width: 100%;
		.content {
			.main-container {
				width: 100%;
				margin: 0 24px;
			}
		}
	}
}
